html[class='light'] .home {
  background-image: linear-gradient(
      to bottom,
      rgba(250, 250, 250, 0.5),
      rgba(250, 250, 250, 0.5)
    ),
    url('/images/backgrounds/keyboard-mouse.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
html[class='dark'] .home {
  background-image: linear-gradient(
      to bottom,
      rgba(39, 39, 42, 0.5),
      rgba(39, 39, 42, 0.5)
    ),
    url('/images/backgrounds/keyboard-mouse.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
